.search{
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 15px;
  padding-bottom: 12px;
  
  font-size: 16px;
  
}