  .p{
    
    font-family: arial;
    margin-top: 0px;
    margin-bottom: 0px;
  
  }

  .email{
    font-size: 10px;
    color: gray;
    margin-bottom: 10px;
  }

  .type{
    padding-right: 100px;
    padding-top: 8px;
    margin-bottom: 5px;
    
  }

  .by{
    font-size: 10px;
    color: gray;
    margin-bottom: 15px;
  }
  .button{
    width: 270px;
    background-color: rgb(48, 48, 245);
    border-style: none;
    
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1000px;
    color: white;
  }
