.video{
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
}

.divthumb1{
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

div{
  margin-top: 0px;
  margin-bottom: 0px;
}


p{
  font-family: roboto, arial;
  margin-top: 0px;
  margin-bottom: 0px;
}
.talk{
  font-size: 14px;
  font-weight: 500;
  width: 200px;
  line-height: 20px;
}
.video-author{
  margin-top: 15px;
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 5px;
}

.search{
  display: block;
}
.thumbnail1{
  display: block;
  width:300px;
}
.div1{
  display: block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 12px;
}
.channel1{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.img1{
  width: 40px;
  border: none;
  border-radius: 30px;
}
.info1{
  display: inline-block;
  width: 200px;
}




.divthumb2{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  
  
}
.talk2{
  font-size: 14px;
  font-weight: 500;
  width: 200px;
  line-height: 20px;
}
.video-author2{
  margin-top: 15px;
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-stats2{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 5px;
}

.search2{
  display: block;
}
.thumbnail2{
  display: block;
  width:300px;
}
.div2{
  display: block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 12px;
}
.channel2{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.img2{
  width: 40px;
  border: none;
  border-radius: 30px;
}
.info2{
  display: inline-block;
  width: 200px;
}








